@import url('https://fonts.googleapis.com/css2?family=Inter&family=Monoton&family=Montserrat&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    cursor: url('../../src/img/icon/cursor.png'), auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


/*footer*/

footer {
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #FFF;
    text-align: center;
    font-size: xx-large;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}


/*Header*/


/*FAB*/

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-container:hover {
    height: 200px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    transform: translatey(5px);
    transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #d28ee4;
    bottom: 0;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(106, 29, 194, 0.6);
    cursor: url('../../src/img/icon/cursor.png'), pointer;
    margin-left: 35px;
    transition: all 0.3s;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    z-index: 0;
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
    background: #42A5F5;
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floating-container .float-element:nth-child(2) {
    background: #ca44d6;
    box-shadow: 0 20px 20px -10px rgba(175, 76, 175, 0.5);
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }
    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }
    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }
    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}


/**/


/*Main*/


/*section video + regle */

.section_regle {
    display: flex;
    flex-direction: row;
    height: 960px;
    width: 100%;
}


/*partie gauche*/

.gauche {
    height: 960px;
    width: 50%;
}

video#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*partie droite*/

.droite {
    height: 960px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.droite h1 {
    text-align: center;
    text-shadow: 1px 1px 4px;
    font-size: 46px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.droite p {
    text-align: center;
    font-size: 21px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 69%
}

.droite button {
    padding: 30px;
    width: 230px;
    background-color: black;
    color: white;
    border: 4px solid #fff;
    border-radius: 12px;
    font-size: x-large;
    font-family: Montserrat, sans-serif;
}


/**/


/*vue-plateau*/


/* section plateau : */


/**/

.section_plateau {
    display: flex;
    flex-direction: row;
    height: 830px;
    width: 100%;
    color: black;
}

.score_tempo {
    background: rgba(0, 0, 0, 0.25);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score_tempo p,
span {
    text-align: center;
    font-size: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.profil p {
    text-align: center;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#icon_profil {
    width: 239px;
    height: 239px;
    background-color: #0000007a;
    border-radius: 50%;
}


/*joueur 1*/

#player1 {
    background: rgba(194, 100, 191, 0.30);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#player1.active {
    background: #d870d3;
    color: white;
}

#player1.active #icon_profil {
    background-color: #ffffffa2;
}

#player1.active .score_tempo {
    background-color: #ffffffa2;
}


/* joueur 2*/

#player2 {
    background: #84bbc85c;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#player2.active {
    background-color: #2cb3f0;
    color: white;
}

#player2.active #icon_profil {
    background-color: #ffffffa2;
}

#player2.active .score_tempo {
    background-color: #ffffffa2;
}

.score {
    width: 30%;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.score_globale {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.score_globale h2 {
    font-family: 'Inter';
    text-align: center;
    text-transform: uppercase;
}

.scr-gbl_joueur {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scr-gbl_joueur p {
    padding: 10px;
    font-size: xx-large;
}

#globalScore1 {
    color: #d870d3;
    text-shadow: 0 0 6px rgba(194, 100, 191, 0.30), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(194, 100, 191, 0.30), 0 0 21px #d870d3, 0 0 34px #d870d3, 0 0 54px #d870d3;
    font-size: xx-large;
    padding: 10px;
}

#globalScore2 {
    color: #c6e2ff;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    font-size: xx-large;
    padding: 10px;
}

.score img {
    width: 196px;
    height: 202px;
    flex-shrink: 0;
    border: 1px solid #fff;
    box-shadow: -1px 0px 13px 3px #fff;
}

.bounce-animation {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.dice {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.un {
    background: rgba(194, 100, 191, 0.30);
    width: 45%;
}

.deux {
    width: 20%;
    background: #84bbc85c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trois {
    background: #84bbc85c;
    width: 50%;
}

.btn_play {
    height: 130px;
    background: #1414145c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn_play button {
    width: 350px;
    height: 90px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 4px #fff;
    color: white;
    /*text*/
    text-align: center;
    font-size: 35px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


/* Styles pour le pop-up */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content button {
    margin-top: 20px;
}


/*vue-contact*/

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gauche_contact {
    height: 960px;
    width: 50%;
}

.droite_contact h2 {
    display: block;
    margin-top: -0.5rem;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: #fff 0.1rem;
    letter-spacing: 0.2rem;
    color: transparent;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    animation: flickering 2s linear infinite both;
    animation-duration: 1.5s;
    overflow: hidden;
    transition: .12s;
}

@keyframes flickering {
    0%,
    100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}

.droite_contact {
    height: 960px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.droite_contact p {
    text-align: center;
    font-size: 21px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 69%
}

.droite_contact button {
    padding: 30px;
    width: 230px;
    background-color: black;
    color: white;
    border: 4px solid #fff;
    border-radius: 12px;
    font-size: x-large;
    font-family: Montserrat, sans-serif;
}

input#email,
input#sujet {
    width: 520px;
    height: 30px;
}

textarea#message {
    height: 120px;
}

.container_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 560px;
    width: 550px;
    padding: 12px;
    align-items: center;
    box-shadow: 1px 1px 9px 3px white;
}

form#contactForm {
    border: 1px solid;
}

.name_card {
    display: flex;
    flex-direction: row;
    width: 550px;
}

label {
    padding: 10px;
}

.content_card {
    display: flex;
    flex-direction: column;
}


/*version mobile */

@media only screen and (max-width: 767px) {
    /*general*/
    footer {
        height: 160px;
    }
    footer p {
        text-align: center;
        ;
        font-size: x-large;
    }
    /*index.html (accueil)*/
    .section_regle {
        flex-direction: column;
        height: 1070px;
    }
    .gauche {
        width: 100%;
        height: 360px;
    }
    .droite {
        width: 100%;
        height: fit-content;
    }
    .droite h1 {
        font-size: 35px;
    }
    .droite p,
    .droite_contact p {
        font-size: 17px;
        width: 77%
    }
    .droite button {
        padding: 20px;
    }
    /*vue-plateau .html*/
    .section_plateau {
        flex-direction: column;
        height: auto;
    }
    #player1 {
        width: 100%;
        flex-direction: row;
    }
    svg#icon_profil {
        height: 120px;
        width: 120px;
        margin: 10px;
    }
    .profil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profil p {
        font-size: medium;
    }
    .score {
        width: 100%;
    }
    .score img {
        width: 120px;
        height: 120px;
    }
    .score_globale {
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        height: 140px;
    }
    .score_globale h2 {
        font-size: 12px;
    }
    .scr-gbl_joueur {
        flex-direction: column;
    }
    #player2 {
        width: 100%;
        flex-direction: row;
    }
    .score_tempo {
        padding: 15px;
        border-radius: 10%;
        margin-bottom: 30px;
    }
    .score_tempo p,
    span {
        font-size: x-large;
    }
    .btn_play {
        flex-direction: column;
        height: 132px;
    }
    .btn_play button {
        width: 160px;
        ;
        height: auto;
        font-size: x-large;
    }
    /*vue-contact .html*/
    .contact {
        flex-direction: column;
    }
    .gauche_contact {
        width: 100%;
        height: 120px;
        ;
    }
    .droite_contact {
        width: 100%;
    }
    .droite_contact h2 {
        font-size: x-large;
    }
    .container_contact {
        width: auto;
    }
    .name_card {
        flex-direction: column;
        width: auto;
    }
    input#email,
    input#sujet {
        width: auto;
        height: auto;
    }
}